body{
  margin: 0px;
  padding: 0px;
}
.container-fluid{
  margin: 0px;
  padding: 0px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  .border_right{
    border-right: 2px solid white;
  }
  
  .list li:before {
    content: "\27BD";
    font-weight: 900;
    float: left;
    margin-left: -1.5em;
  }
  
  